<div layout="column" class="form-container">
  <div class="form-body text-center">
    <h1>Thank you for your time. YOU ROCK!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus necessitatibus, quis error sint repellendus voluptate. Obcaecati, expedita. Nesciunt pariatur itaque accusantium temporibus ea minima, aut quibusdam, magni sequi ullam dolorem.</p>
  </div>
  <footer class="form-footer" layout="row" layout-align="space-between center">
    <div></div>
    <div>
      <md-button ui-sref="main" class="md-raised md-primary">Finish</md-button>
    </div>
  </footer>
</div>
