<h1>{{ main.currentStepObj.title }}</h1>
<br>
<ng-form name="profileForm">
  <div layout-gt-sm="row">
    <md-input-container class="md-block" flex-gt-sm>
      <label>Your favorite comic book superhero</label>
      <input required name="superhero" value="Batman" />
      <div ng-messages="profileForm.superhero.$error">
        <div ng-message="required">This field is required.</div>
      </div>
    </md-input-container>
    <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
    <md-input-container class="md-block" flex-gt-sm>
      <label>Tv Series that you are currently watching</label>
      <input required name="tvseries" value="Prison Break, 13 reasons why, The Returned" />
      <div ng-messages="profileForm.tvseries.$error">
        <div ng-message="required">This field is required.</div>
      </div>
    </md-input-container>
  </div>
  <div layout-gt-sm="row">
    <md-input-container class="md-block" flex-gt-sm>
      <label>Which one do you say: Bolacha or biscoito?</label>
      <input required name="biscoito" value="Biscoito FTW." />
      <div ng-messages="profileForm.biscoito.$error">
        <div ng-message="required">This field is required.</div>
      </div>
    </md-input-container>
    <div flex="5" hide-xs hide-sm><!-- Spacer //--></div>
    <md-input-container class="md-block" flex-gt-sm>
      <label>What is the best quote ever</label>
      <input required name="bestquote" value="Não sabendo que era impossível, foi lá e fez. - Jean Cocteau" />
      <div ng-messages="profileForm.bestquote.$error">
        <div ng-message="required">This field is required.</div>
      </div>
    </md-input-container>
  </div>
</ng-form>

<div layout-gt-sm="row" layout-align="space-between center">
  <div ng-init="myMovie = 7">
    <p><small>Your favorite Star Wars Movie</small></p>
    <md-radio-group ng-model="myMovie">
      <md-radio-button value="7" class="md-primary">Star Wars: The Force Awakens</md-radio-button>
    </md-radio-group>
  </div>
  <div ng-init="mySeason = 1">
    <p><small>Your favorite GoT Season</small></p>
    <md-radio-group ng-model="mySeason">
      <md-radio-button value="1" class="md-primary">GoT Season - {{ mySeason }}</md-radio-button>
    </md-radio-group>
  </div>
  <div ng-init="myFood = 3">
    <p><small>Your kind of food</small></p>
    <md-radio-group ng-model="myFood">
      <md-radio-button value="3" class="md-primary">{{ main.foods[3].Title }}</md-radio-button>
    </md-radio-group>
  </div>
</div>
