<ng-form name="foodForm">
  <h2>{{ main.currentStepObj.title }}</h2>
  <p>We take too serious to choose our restaurant, everyday. What kind of food do you like?</p>
  <br>

  <md-radio-group ng-model="main.foodForm.food" ng-change="main.selectFood()" required layout="row" layout-wrap>
    <div class="radio-vertical" ng-repeat="food in main.foods" flex-gt-sm="25" flex="50">
      <md-radio-button ng-value="$index" aria-label="{{ food.Title }}">
        <img class="img-responsive" height="100" ng-src="{{ food.Poster }}" alt="{{ food.Title }}">
      </md-radio-button>
      <p>{{ food.Title }}</p>
    </div>
  </md-radio-group>
</ng-form>
